/* .profilePic .img-fluid{
    display: block!important;
    width: auto!important;
    max-height: 100%!important;
} */

.fas {
    color: #000;
}


.titleCardText{
    font-size: 1.75rem!important;
    color: #212529;
}